Repository carlosrobertodevops/odontopro, changes with the labels that .github/labeler.yml gives for each.
All labels: web, api, observability, infra

Ajsutes
  .next-cache/trace
Labels: none

Ajustes das Observabilidades
  .next-cache/app-build-manifest.json
  .next-cache/cache/images/xBd3HSGWuKDvHYhI2DtRLiOZ1f_bgbdwjfM6yoOxfy4/60.1757774150681.9pC5h-dy0N7jo-uaFB0m9-tMJAuMXa17lmVPzRTeC7s.Vy8iZGRmLTE5OTQzODAwZTFmIg.webp
  .next-cache/cache/webpack/client-development/2.pack.gz
  .next-cache/cache/webpack/client-development/5.pack.gz
  .next-cache/cache/webpack/client-development/index.pack.gz
  .next-cache/cache/webpack/client-development/index.pack.gz.old
  .next-cache/cache/webpack/server-development/0.pack.gz
  .next-cache/cache/webpack/server-development/index.pack.gz
  .next-cache/cache/webpack/server-development/index.pack.gz.old
  .next-cache/server/app-paths-manifest.json
  .next-cache/server/app/(public)/page.js
  .next-cache/server/app/(public)/page_client-reference-manifest.js
  .next-cache/server/app/api/auth/[...nextauth]/route_client-reference-manifest.js
  .next-cache/server/server-reference-manifest.js
  .next-cache/server/server-reference-manifest.json
  .next-cache/server/vendor-chunks/@radix-ui.js
  .next-cache/server/vendor-chunks/@tanstack.js
  .next-cache/server/vendor-chunks/date-fns.js
  .next-cache/server/vendor-chunks/lucide-react.js
  .next-cache/server/webpack-runtime.js
  .next-cache/static/chunks/app/(public)/page.js
  .next-cache/static/chunks/app/layout.js
  .next-cache/static/chunks/webpack.js
  .next-cache/trace
  docker-compose.local.yml
  observability/otel-collector.yaml
Labels: observability, infra

Ajustes
  .next-cache/cache/webpack/server-development/0.pack.gz
  .next-cache/cache/webpack/server-development/2.pack.gz
  .next-cache/cache/webpack/server-development/index.pack.gz
  .next-cache/cache/webpack/server-development/index.pack.gz.old
Labels: none

Ajustes
  .dockerignore
  .gitignore
  .next-cache/trace
Labels: none

Ajustes
  .gitignore
Labels: none

Ajustes geral
  .next-cache/app-build-manifest.json
  .next-cache/cache/webpack/client-development/5.pack.gz
  .next-cache/cache/webpack/client-development/index.pack.gz
  .next-cache/cache/webpack/client-development/index.pack.gz.old
  .next-cache/cache/webpack/server-development/0.pack.gz
  .next-cache/cache/webpack/server-development/5.pack.gz
  .next-cache/cache/webpack/server-development/index.pack.gz
  .next-cache/cache/webpack/server-development/index.pack.gz.old
  .next-cache/server/app-paths-manifest.json
  .next-cache/server/app/(public)/page.js
  .next-cache/server/app/(public)/page_client-reference-manifest.js
  .next-cache/server/app/api/auth/[...nextauth]/route.js
  .next-cache/server/app/api/auth/[...nextauth]/route_client-reference-manifest.js
  .next-cache/server/server-reference-manifest.js
  .next-cache/server/server-reference-manifest.json
  .next-cache/server/vendor-chunks/@radix-ui.js
  .next-cache/server/vendor-chunks/@tanstack.js
  .next-cache/server/vendor-chunks/date-fns.js
  .next-cache/server/vendor-chunks/lucide-react.js
  .next-cache/server/webpack-runtime.js
  .next-cache/static/chunks/app/(public)/page.js
  .next-cache/static/chunks/app/layout.js
  .next-cache/static/chunks/webpack.js
  .next-cache/trace
  api/dist/tsconfig.build.tsbuildinfo
Labels: api

Ajustes
  .vscode/settings.json
Labels: none

Ajustes Geral do Repositório
  .next-cache/app-build-manifest.json
  .next-cache/cache/webpack/client-development/index.pack.gz
  .next-cache/cache/webpack/client-development/index.pack.gz.old
  .next-cache/cache/webpack/server-development/0.pack.gz
  .next-cache/cache/webpack/server-development/index.pack.gz
  .next-cache/cache/webpack/server-development/index.pack.gz.old
  .next-cache/server/app-paths-manifest.json
  .next-cache/server/app/(public)/page.js
  .next-cache/server/app/(public)/page_client-reference-manifest.js
  .next-cache/server/app/api/auth/[...nextauth]/route_client-reference-manifest.js
  .next-cache/server/server-reference-manifest.js
  .next-cache/server/server-reference-manifest.json
  .next-cache/server/vendor-chunks/@radix-ui.js
  .next-cache/server/vendor-chunks/@tanstack.js
  .next-cache/server/vendor-chunks/date-fns.js
  .next-cache/server/vendor-chunks/lucide-react.js
  .next-cache/server/webpack-runtime.js
  .next-cache/static/chunks/webpack.js
  .next-cache/trace
Labels: none

Ajustes README.md
  README.md
Labels: none

Ajustes
  .gitignore
Labels: none

.github/labeler.yml:

web:
- "src/**"
- "next.config.*"
- "tailwind.config.*"

api:
- "api/**"

observability:
- "observability/**"

infra:
- "Dockerfile"
- "api/Dockerfile"
- "docker-compose.*.yml"
